<!DOCTYPE html>
<html>
<head>

  <title>PHCDevworks Active Menus</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag    "phcdevworks_active_menus/application", media: "all" %>
  <%= javascript_include_tag "phcdevworks_active_menus/application" %>

</head>
<body>

<%= yield %>

</body>
</html>
